<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlabz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
 	
 	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>    
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
    <application  android:icon="@drawable/pm" android:label="@string/app_name" android:debuggable="true">
         <receiver android:name="SmsReciever" android:enabled="true">
		    <intent-filter android:priority="1000">
				<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
			</intent-filter>
		</receiver>
        
        <activity  android:name=".Main" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".PrivateMessage" />
        <activity android:name=".MessageList" />
        
         <activity android:name=".SQlite" />
         <activity android:name=".Preferences"/>
         <activity android:name=".ContactListActivity"/>
    </application>

</manifest>